<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="height: 100vh;" class="d-flex align-items-center">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 col-lg-6 text-center text-light bg-secondary p-3">
                <h1 class="mb-4">My Budget</h1>
                <div class="d-grid gap-3">
                    <a href="/income" type="button" class="fs-5 btn btn-primary">Incomes</a>
                    <a href="/expanse" type="button" class="fs-5 btn btn-primary">Expenses</a>
                    <a href="/total" type="button" class="fs-5 btn btn-primary">Total</a>
                </div>
            </div>
        </div>
    </div>
    

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>