<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="height: 100vh;" class="d-flex align-items-center">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 col-lg-6 text-center text-light bg-secondary p-3">
                <h1>Total:</h1>
                <div class="my-4">
                    <a href="/" class="btn btn-primary">Main Menu</a>
                    <a href="/income" class="btn btn-primary">Incomes</a>
                    <a href="/expanse" class="btn btn-primary">Expenses</a>
                </div>
                
                <ul class="list-group">
                    <li class="list-group-item">
                      <h3 class="d-block">Total Budget:</h3>
                      <% const totalIncomes = +total[0].sum %>
                      <% const totalExpanses = +total[1].sum %>
                      <p id="totalbudget" class="fs-4"><%= totalIncomes - totalExpanses %></p>
                    </li>
                    <li class="list-group-item">
                        <h3 class="d-block">Total Incomes:</h3>
                        <p id="totalincomes" class="fs-4"><%= totalIncomes %></p>
                    </li>
                    <li class="list-group-item">
                        <h3 class="d-block">Total Expenses:</h3>
                        <p id="totalexpenses" class="fs-4"><%= totalExpanses %></p>
                    </li>
                    
                   
                  </ul>
            </div>
        </div>
    </div>
    

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>